.AllContainer{
    display:flex;
    flex-direction: row;
}

.DropDownContainer{
    width:400px;
    margin: 0 auto;
    position: relative;


    .DropDownBtn{
        padding:10px 15px;
        background: #fff;
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
        font-weight: bold;
        color: #333;
        display:flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .DropDownContent{
        width: 90%;
        top:100%;
        left: 0;
        padding:15px 15px;
        background: #fff;
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
        font-weight: 500;
        color: #333;

    }

}


.DropDownItem{
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s
}


.DropDownItem:hover {
    
    background-color: #f4f4f4;
    
}