@import "../../styles/variable";

.ReviewContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 1200px;
  background: $main_white;
  display: flex;
  align-items: center;
  padding: 10px 0;
  flex-direction: column;

  .TitleText {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
    text-align: center;
  }

  .ReviewIntroContainer {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    .bodyText {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.4;
      margin-right: 1rem;
      margin-left: 1rem;
      text-align: center;
    }

    .MapImage {
      width: 85%;
      height: 25rem;
      background-color: #abf200;
    }
    .WordCloudImage {
      width: 85%;
      height: 25rem;
      background-color: #ffd9ec;
    }
  }
}

.NameContainer {
  display: flex;
  flex-direction: row;
}

#map {
  border: 3px solid black;
}
