@import "../../styles/variable";

.IntroduceContainer {
    width: 80%;
    max-width: 1600px;
    line-height: 1.4;
    margin: 0 auto;
    min-height: 1400px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    flex-direction: column;

    .TitleText {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
    }
   

    .ServiceIntroContainer {
        width: 100%;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        text-align: center;
        margin-bottom: 20px;

        .Intro {
            font-size: 2.5rem;
        }

        .Description {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.4;
            margin: 2rem 1rem;
            text-align: left;
            span {
                display: block;
            }
            span:nth-child(2) {
                margin-bottom: 1rem;
            }
            span:nth-child(2n+1) {
                font-size: 2.4rem;
                color: $main_orange;
            }
        }

    }

    .PeopleIntroContainer {
        width: 100%;
        min-height: 350px;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .CardContainer {
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }

        .CardContainer {
            .CardIcon {
                width: 8rem;
                height: 8rem;
                background-color: $main_white;
            }
            .PeopleText {
                margin: 0.25rem 1rem 0 1rem;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.4;
                text-align: center;
            }
        }
    }

}
