@import "../../styles/variable";
@import url(//font.elice.io/EliceDigitalBaeum.css);

.IntroduceContainer {
    background-color: $docker-backgroundGray;
    width: 80%;
    max-width: 1600px;
    line-height: 1.4;
    margin: 0 auto;
    min-height: 1400px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    flex-direction: column;

    @media screen and (max-width: 550px) {
        width: 90%;
    }

    .ServiceIntroContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        margin-bottom: 20px;

        .Intro {
            font-size: 1.5rem;
            font-family: "Elice Digital Baeum";
            color: $docker-boldFont;
            font-weight: 700;

            @media screen and (max-width: 550px) {
                font-size: 2rem;
            }

            @media screen and (max-width: 400px) {
                font-size: 1.7rem;
            }
        }

        .subIntro {
            font-family: "Elice Digital Baeum";
            color: $docker-lightFont;
            font-size: 1rem;

            @media screen and (max-width: 550px) {
                font-size: 0.8rem;
            }
        }
    }

    // 소개 이미지

    .IntroduceImage {
        background-color: $main_white;
        border-radius: 10px;
        box-shadow: 0 4px 18px rgb(11 33 74 / 10%), 0 -2px 4px rgb(11 33 74 / 3%);
        width: 70%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 1rem;

        @media screen and (max-width: 700px) {
            width: 100%;
            height: 360px;
            padding: 0rem;
        }

        .IntroImage {
            width: 95%;
            src: url(../../assets/pictures/introduceImage.PNG);
        }
    }

    // 부연 설명

    .SubIntroConatiner {
        display: flex;
        flex-direction: column;
        width: 70%;
        text-align: left;

        @media screen and (max-width: 550px) {
            width: 95%;
        }

        .Intro {
            font-size: 2.5rem;
            font-family: "Elice Digital Baeum";
            color: $docker-boldFont;
            font-weight: 700;

            @media screen and (max-width: 550px) {
                font-size: 2rem;
            }

            @media screen and (max-width: 400px) {
                font-size: 1.7rem;
            }
        }

        .subIntro {
            font-family: "Elice Digital Baeum";
            color: $docker-lightFont;
            font-size: 1rem;

            @media screen and (max-width: 550px) {
                font-size: 0.8rem;
            }
        }
    }

    // 팀원 소개 부분

    .TitleText {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
        font-family: "Elice Digital Baeum";
        font-weight: 700;
        color: $docker-boldFont;
        padding: 0.7rem 3rem;
        background-image: linear-gradient(transparent 60%, #f8cd07 40%);

        @media screen and (max-width: 550px) {
            font-size: 2.7rem;
        }

        @media screen and (max-width: 400px) {
            font-size: 2.3rem;
        }
    }

    .PeopleIntroContainer {
        width: 100%;
        min-height: 350px;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .CardContainer {
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            @media screen and (max-width: 400px) {
                width: 120px;
            }
        }

        .CardContainer {
            padding: 1rem;

            .CardIcon {
                width: 8rem;
                height: 8rem;
            }
            .PeopleText {
                color: rgb(0, 44, 102);
                font-size: 1.6rem;
                font-weight: 700;
                font-family: "Elice Digital Baeum";
                margin: 0.25rem 1rem 0 1rem;
                font-size: 1.6rem;
                line-height: 1.4;
                text-align: center;

                @media screen and (max-width: 400px) {
                    margin: 0;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
