$primary: #00B997;

.LogoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    .LogoText {
        font-size: 2.8em;
        font-weight: 900;
        color: $primary;
        font-weight: 900;
        margin-top: 6px;
    }

}


.LogoImg{
    background-image: url("../../assets/logo/logo_croped.png");
    width: 8em;
    height: 8em;
}

.LogoContainer.small {
    .LogoText {
        font-size: 2em;
    }
    img {
        width: 4.8em;
        height: 4.8em;
    }
}