@import "../../styles/variable";
@import url(//font.elice.io/EliceDigitalBaeum.css);

.WordCloudcontainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 300px;
    background: #f1f1f1;
    margin: 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
    font-family: "Elice Digital Baeum";
    box-shadow: 0 4px 18px rgb(11 33 74 / 10%), 0 -2px 4px rgb(11 33 74 / 3%);
}

.bloc-tabs {
    display: flex;

    @media screen and (max-width: 550px) {
        font-size: 1rem;
    }
}
.tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    font-family: "Elice Digital Baeum";
    font-size: 1.3rem;
    font-weight: 700;
    color: $docker-boldFont;
    background: $main_white;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;

    @media screen and (max-width: 550px) {
        font-size: 1rem;
    }
}
.tabs:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);

    @media screen and (max-width: 550px) {
        font-size: 1rem;
    }
}

.active-tabs {
    background: $docker-blue;
    color: $main_white;
    border-bottom: 1px solid transparent;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: $docker-boldFont;
}

button {
    border: none;
}
.content-tabs {
    flex-grow: 1;
}
.content {
    display: flex;
    flex-direction: row;
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}
.content h2 {
    font-size: 2rem;
    font-weight: 700;
    color: $docker-boldFont;
    text-align: center;
    padding: 0px 0 5px 0px;

    @media screen and (max-width: 550px) {
        font-size: 1.5rem;
    }
}
.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}
.content p {
    width: 100%;
    height: 100%;
}
.active-content {
    display: block;
}
