@import "../../styles/variable";

.CategoryContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 2rem;
  }
}

// checkbox 디자인 해야 함

.choiceContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  row-gap: 10px;
  column-gap: 10px;
  align-items: center;
  padding: 10px 0;
  flex-direction: column;

  .choiceBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;

    .checkbox {
      margin-right: 1rem;
      height: 2rem;
      width: 2rem;
    }
  }
}

.button-prev {
  margin: 1rem;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: $main_red;
  color: $main_white;
  font-family: Jua;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: 3px solid $main_red;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s linear all;
  cursor: pointer;
}

.button-prev:hover {
  background-color: darken($color: $main_red, $amount: 10%);
  border: 3px solid darken($color: $main_red, $amount: 10%);
  box-shadow: 0 0 8px 0 $main_red;
}

.button-next {
  margin: 1rem;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: $main_blue;
  color: $main_white;
  font-family: Jua;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: 3px solid $main_blue;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s linear all;
  cursor: pointer;
}

.button-next:hover {
  background-color: darken($color: $main_blue, $amount: 10%);
  border: 3px solid darken($color: $main_blue, $amount: 10%);
  box-shadow: 0 0 8px 0 $main_blue;
}

.button-test {
  margin: 1rem;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: $main_green;
  color: $main_white;
  font-family: Jua;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: 3px solid $main_green;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s linear all;
  cursor: pointer;
}

.button-test:hover {
  background-color: darken($color: $main_green, $amount: 10%);
  border: 3px solid darken($color: $main_green, $amount: 10%);
  box-shadow: 0 0 8px 0 $main_blue;
}
