@import "../../styles/variable";

.CategoryContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 2rem;
  }
}

// checkbox 디자인 해야 함

.choiceContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.choiceBox {
  margin: 0.5rem;
  display: grid;
  justify-content: center;
  font-size: 1.2rem;

  .choiceBox label {
    width: 100%;
    cursor: pointer;
    display: flex;
  }

  .checkbox {
    display: none;
  }
}

.choiceBox label .icon-box {
  position: relative;
  display: flex;
  width: 12rem;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
  @apply bg-dblue;
  box-shadow: 2px 10px 35px 1px rgba(153, 153, 153, 0.3);
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 6px;
  user-select: none;
}

.checkbox:checked ~ .icon-box {
  color: white;
  width: 12rem;
  padding: 0.5rem;
  background-color: darken($color: $docker-blue, $amount: 10%);
  border: 3px solid darken($color: $docker-blue, $amount: 10%);
  box-shadow: 2px 10px 35px 1px rgba(153, 153, 153, 0.3);
}

////////////////////////////////////

.button-prev {
  margin: 1rem;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: $main_red;
  color: $main_white;
  font-family: Jua;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: 3px solid $main_red;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s linear all;
  cursor: pointer;
}

.button-prev:hover {
  background-color: darken($color: $main_red, $amount: 10%);
  border: 3px solid darken($color: $main_red, $amount: 10%);
  box-shadow: 0 0 8px 0 $main_red;
}

.button-next {
  margin: 1rem;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: $main_blue;
  color: $main_white;
  font-family: Jua;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: 3px solid $main_blue;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s linear all;
  cursor: pointer;
}

.button-next:disabled {
  margin: 1rem;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #bdbdbd;
  color: $main_white;
  font-family: Jua;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: 3px solid $main_blue;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s linear all;
  cursor: pointer;
}

.button-next:hover {
  background-color: darken($color: $main_blue, $amount: 10%);
  border: 3px solid darken($color: $main_blue, $amount: 10%);
  box-shadow: 0 0 8px 0 $main_blue;
}

.button-test {
  margin: 1rem;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: $main_green;
  color: $main_white;
  font-family: Jua;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: 3px solid $main_green;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s linear all;
  cursor: pointer;
}

.button-test:hover {
  background-color: darken($color: $main_green, $amount: 10%);
  border: 3px solid darken($color: $main_green, $amount: 10%);
  box-shadow: 0 0 8px 0 $main_blue;
}
