@import "../../styles/variable";

.TestContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: $main_white;
  display: flex;
  align-items: center;
  padding: 10px 0;
  flex-direction: column;

  .TitleText {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
    text-align: center;
  }

  .bodyText {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: center;
  }
}

.button-start {
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #f29661;
  color: $main_white;
  font-family: Jua;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: 2px solid transparent;
  transition: all 220ms ease-in-out;
  cursor: pointer;
}

.button-start:hover {
  background-color: #ffc19e;
  border: 2px solid #f29661;
}

.TestInfoImage {
  width: 85%;
  height: 25rem;
  background-color: #abf200;
}
