@import "../../styles/variable";

.ButtonWrapper {
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #003f8c;
    color: $main_white;
    font-family: Jua;
    font-size: 1rem;
    outline: none;
    border: 2px solid transparent;
    transition: all 220ms ease-in-out;
    cursor: pointer;
}

.ButtonWrapper:hover {
    background-color: transparent;
    border: 2px solid $main_green;
}
