@import "../../styles/variable";
@import url(//font.elice.io/EliceDigitalBaeum.css);

.ReviewRatingContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-items: center;

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .kakaoRating {
        width: 100%;
        text-align: center;
        border-left: 2px solid $main_gray;
    }

    .mangoRating {
        width: 100%;
        text-align: center;
        border-left: 2px solid $main_gray;
    }

    .naverRating {
        width: 100%;
        text-align: center;
        border-left: 2px solid $main_gray;
    }

    .siksinRating {
        width: 100%;
        text-align: center;
        border-left: 2px solid $main_gray;
        border-right: 2px solid $main_gray;
    }
}

.SelectedText {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1.4;
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: center;
}

.RestaurantsEmoji {
    background-image: url("../../assets/pictures/emoji-icon-restaurant.png");
}
