.naverLogo {
    background-image: url("../../assets/logo/naver500.png");
}
.siksinLogo {
    background-image: url("../../assets/logo/siksin.png");
}

.mangoLogo {
    background-image: url("../../assets/logo/mangoplate.png");
}

.svg {
    border: 2px solid black;
}
